{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
  <div class="card bg-base-100 mx-auto mt-20 text-center w-150 shadow-lg">
    <div class="card-body text-center m-5">
      <div class="flex justify-center font-bold">
        <img src="{% static 'site/img/logo.png' %}" class="text-center w-30" />
      </div>
      <div class="flex justify-center font-bold text-3xl">django_tw.com</div>
      <div class="m-5 text-2xl font-bold">
        {% block form_heading %}

        {% endblock %}
      </div>
    </div>

    <div class="p-20">
      {% block auth_content %}

      {% endblock %}
    </div>
  </div>
{% endblock %}
